<div class="container">
    <div class="flex justify-center">
        <div class="mb-8">
            <div class="bg-white shadow rounded-lg">
                <div class="p-8 lg:p-12">
                    <h2 class="text-center mb-5 uppercase">Solicitar Turno</h2>
                    <div class="contenedor-imagenes flex flex-wrap justify-center gap-8">
                        <div *ngFor="let especialista of especialistas" class="text-center">
                            <h4>{{ especialista.nombre }}</h4>
                            <img (click)="seleccionarEspecialista(especialista)" class="imagen rounded-full"
                                [src]="especialista.imagen.foto1" alt="Imagen de {{ especialista.nombre }}">
                        </div>
                    </div>

                    <div *ngIf="especialistaSeleccionado" >
                        <h3 class="uppercase text-center mt-4">Especialidad</h3>
                        <div class="seccion-especialidades mt-7 flex justify-center" >
                            <div *ngFor="let especialidad of especialidadesMostrar">
                                <div (click)="mostrarDias()" class="bg-gray-300 rounded-lg p-4">
                                    <img  class="img-especialidad" [src]="'assets/resources/img/' + especialidad + '.png'"
                                        alt="Imagen de {{ especialidad }}">
                                    <h3 class="text-center">{{especialidad}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="diasDisponibles.length > 0" class=" flex flex-wrap justify-center gap-x-3">
                        <div *ngFor="let dia of diasDisponibles">
                            <button (click)="mostrarFechaPedida(dia)" class="bg-teal-500 text-white mt-2 py-2 px-4 hover:bg-teal-700 transition duration-300 w-40">{{dia}}</button>
                        </div>
                    </div>

                    <div *ngIf="fechasDisponibles.length > 0" class=" flex flex-wrap justify-center gap-x-3">
                        <div *ngFor="let fecha of fechasDisponibles">
                            <button (click)="mostrarHorarioPedido(fecha)" class="bg-teal-500 text-white mt-2 py-2 px-4 hover:bg-teal-700 transition duration-300 w-40">{{fecha}}</button>
                        </div>
                    </div>

                    <div *ngIf="horasDisponibles.length > 0" class=" flex flex-wrap justify-center gap-x-3">
                        <div *ngFor="let hora of horasDisponibles">
                            <button (click)="horarioFinal(hora)" class="bg-teal-500 text-white rounded-lg mt-2 py-2 px-4 hover:bg-teal-700 transition duration-300 w-40">{{hora}}</button>
                        </div>
                    </div>

                    <div *ngIf="subirTurno">
                        <button (click)="cargarTurno()" class="">Cargar Turno</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
