<div class="container">
    <label class="relative inline-flex items-center cursor-pointer">
        <input class="sr-only peer" value="" type="checkbox" (change)="onToggle($event)">
        <div
            class="peer ring-2 ring-gray-900 bg-gradient-to-b from-cyan-600 to-cyan-600 rounded-full outline-none duration-300 after:duration-500 w-20 h-8 shadow-inner peer-checked:bg-gradient-to-r peer-checked:from-emerald-500 peer-checked:to-emerald-900 shadow-gray-900 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-900 after:content-[''] after:rounded-full after:absolute after:outline-none after:h-12 after:w-12 after:bg-gray-50 after:-top-2 after:left-10 after:flex after:justify-center after:items-center after:border-4 after:border-gray-900 peer-checked:after:translate-x-[-14px] peer-checked:after:left-0">
        </div>
        <span class="card-side"></span>
    </label>
    <div class="contenedor-botones-registrar">
        <button class="button-seleccionar cursor-pointer animate-bounce hover:animate-none" (click)="elegirRegistrar(false)">Registrar paciente →</button>
        <button class="button-seleccionar animate-bounce hover:animate-none" (click)="elegirRegistrar(true)">Registrar especialista →</button>
    </div>
    @if(registrarPaciente)
    {
    <form class="form mt-3 mb-5 flex-row" [formGroup]="form">
        <div class="img-logo"></div>

        <div class="title text-center uppercase">¡Bienvenido!<br><span class="lowercase">Registre a continuación</span>
        </div>

        <h4 class="text-center text-2xl font-bold">Paciente</h4>
        <div class="contenedor-inputs">
            <!-- Nombre -->
            <div>
                <input class="input text-gl" name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                @if(form.get('nombre')?.touched && form.get('nombre')?.invalid)
                {
                <p>El nombre es requerido.</p>
                }
            </div>

            <!-- apellido -->
            <div>
                <input class="input text-gl" name="apellido" placeholder="Apellido" type="text"
                    formControlName="apellido">
                @if(form.get('apellido')?.touched && form.get('apellido')?.invalid)
                {
                <p>El apellido es requerido.</p>
                }
            </div>

            <!-- edad -->
            <div>
                <input class="input text-gl" name="edad" placeholder="Edad" type="number" formControlName="edad">
                @if(form.get('edad')?.touched && form.get('edad')?.invalid)
                {
                <p>La edad es requerida.</p>
                }
            </div>

            <!-- dni -->
            <div>
                <input class="input text-gl" name="dni" placeholder="DNI" type="number" formControlName="dni">
                @if(form.get('dni')?.touched && form.get('dni')?.invalid)
                {
                <p>El DNI es requerido.</p>
                }
            </div>

            <!-- obra social -->
            <div>
                <input class="input text-gl" name="obraSocial" placeholder="Obra social" type="text"
                    formControlName="obraSocial">
                @if(form.get('obraSocial')?.touched && form.get('obraSocial')?.invalid)
                {
                <p>La obra social es requerida.</p>
                }
            </div>

            <!-- contraseña -->
            <div>
                <input class="input text-gl" name="password" placeholder="Contraseña" type="password"
                    formControlName="password">
                @if(form.get('password')?.touched && form.get('password')?.invalid)
                {
                <p>La contraseña es requerida.</p>
                }
            </div>

            <!-- correo -->
            <div>
                <input class="input text-gl" name="email" placeholder="Correo" type="email" formControlName="correo">
                @if(form.get('correo')?.touched && form.get('correo')?.invalid)
                {
                <div>
                    @if(form.get('correo')?.errors?.['required'])
                    {
                    <p>El correo electrónico es requerido.</p>
                    }
                    @if(form.get('correo')?.errors?.email)
                    {
                    <p>El correo electrónico es invalido.</p>
                    }
                </div>
                }
            </div>



            <!-- foto -->
            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfilUno" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilUno($event)">
            </div>

            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfilDos" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilDos($event)">
            </div>
        </div>
        <button class="button-confirm" (click)="register()">Registrarse →</button>
    </form>
    }

    @if(registrarEspecialista)
    {
    <form class="form mt-3 mb-5 flex-row" [formGroup]="formEspecialista">
        <div class="img-logo"></div>

        <div class="title text-center uppercase">¡Bienvenido!<br><span class="lowercase">Registre a continuación</span>
        </div>

        <h4 class="text-center text-2xl font-bold">Especialista</h4>
        <div class="contenedor-inputs">
            <!-- Nombre -->
            <div>
                <input class="input text-gl" name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                @if(formEspecialista.get('nombre')?.touched && formEspecialista.get('nombre')?.invalid)
                {
                <p>El nombre es requerido.</p>
                }
            </div>


            <!-- apellido -->
            <div>
                <input class="input text-gl" name="apellido" placeholder="Apellido" type="text"
                    formControlName="apellido">
                @if(formEspecialista.get('apellido')?.touched && formEspecialista.get('apellido')?.invalid)
                {
                <p>El apellido es requerido.</p>
                }
            </div>


            <!-- edad -->
            <div>
                <input class="input text-gl" name="edad" placeholder="Edad" type="number" formControlName="edad">
                @if(formEspecialista.get('edad')?.touched && formEspecialista.get('edad')?.invalid)
                {
                <p>La edad es requerida.</p>
                }
            </div>

            <!-- dni -->
            <div>
                <input class="input text-gl" name="dni" placeholder="DNI" type="number" formControlName="dni">
                @if(formEspecialista.get('dni')?.touched && formEspecialista.get('dni')?.invalid)
                {
                <p>El DNI es requerido.</p>
                }
            </div>

            <!-- especialidad -->
            <!-- <div>
                    <input class="input text-gl" name="especialidad" placeholder="Especialidad" type="text"
                        formControlName="especialidad">
                    @if(formEspecialista.get('especialidad')?.touched && formEspecialista.get('especialidad')?.invalid)
                    {
                        <p>La especialidad es requerida.</p>
                    }
                </div> -->

            <div>
                <label class="input text-gl ">Especialidad:</label>
                <select class="select-especialidad mt-3" formControlName="especialidad">
                    <option value="" disabled selected>--Seleccione--</option>
                    <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}
                    </option>
                    <option value="otra">Otra</option>
                </select>
                <div class="my-2" *ngIf="formEspecialista.get('especialidad')?.value === 'otra'">
                    <label>Agregar Especialidad:</label>
                    <input class="input text-gl" formControlName="nuevaEspecialidad"/>
                </div>
            </div>

            <!-- correo -->
            <div>
                <input class="input text-gl" name="email" placeholder="Correo" type="email" formControlName="correo">
                @if(formEspecialista.get('correo')?.touched && formEspecialista.get('correo')?.invalid)
                {
                <div>
                    @if(formEspecialista.get('correo')?.errors?.['required'])
                    {
                    <p>El correo electrónico es requerido.</p>
                    }
                    @if(formEspecialista.get('correo')?.errors?.email)
                    {

                    <p>El correo electrónico es invalido.</p>
                    }
                </div>
                }
            </div>

            <!-- contraseña -->
            <div>
                <input class="input text-gl" name="password" placeholder="Contraseña" type="password"
                    formControlName="password">
                @if(formEspecialista.get('password')?.touched && formEspecialista.get('password')?.invalid)
                {
                <div>
                    <p>La contraseña es requerida.</p>
                </div>
                }
            </div>
            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfil" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilUno($event)">
            </div>
        </div>

       

        <button class="button-confirm" (click)="register()">Registrarse →</button>
    </form>
    }
</div>
<app-footer></app-footer>