<div [@bounceInLeft] class="container">
    <app-loader [isLoading]="isLoading"></app-loader>
    <label class="relative inline-flex items-center cursor-pointer">
        <input class="sr-only peer" value="" type="checkbox" (change)="onToggle($event)">
        <div
            class="peer ring-2 ring-gray-900 bg-gradient-to-b from-cyan-600 to-cyan-600 rounded-full outline-none duration-300 after:duration-500 w-20 h-8 shadow-inner peer-checked:bg-gradient-to-r peer-checked:from-emerald-500 peer-checked:to-emerald-900 shadow-gray-900 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-900 after:content-[''] after:rounded-full after:absolute after:outline-none after:h-12 after:w-12 after:bg-gray-50 after:-top-2 after:left-10 after:flex after:justify-center after:items-center after:border-4 after:border-gray-900 peer-checked:after:translate-x-[-14px] peer-checked:after:left-0">
        </div>
        <span class="card-side"></span>
    </label>
    <div class="contenedor-botones-registrar">
        <button class="button-seleccionar img-paciente cursor-pointer motion-safe:animate-bounce"
            (click)="elegirRegistrar(false)"></button>
        <button class="button-seleccionar img-especialista motion-safe:animate-bounce"
            (click)="elegirRegistrar(true)"></button>
    </div>
    @if(registrarPaciente)
    {
    <form class="form mt-3 mb-5 flex-row" [formGroup]="form">
        <div class="img-logo"></div>

        <div class="title text-center uppercase">¡Bienvenido!<br><span class="lowercase">Registre a continuación</span>
        </div>

        <h4 class="text-center text-2xl font-bold">Paciente</h4>
        <div class="contenedor-inputs">
            <!-- Nombre -->
            <div>
                <input class="input text-gl" name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                @if(form.get('nombre')?.touched && form.get('nombre')?.invalid)
                {
                <p>El nombre es requerido.</p>
                }
            </div>

            <!-- apellido -->
            <div>
                <input class="input text-gl" name="apellido" placeholder="Apellido" type="text"
                    formControlName="apellido">
                @if(form.get('apellido')?.touched && form.get('apellido')?.invalid)
                {
                <p>El apellido es requerido.</p>
                }
            </div>

            <!-- edad -->
            <div>
                <input class="input text-gl" name="edad" placeholder="Edad" type="number" formControlName="edad">
                @if(form.get('edad')?.touched && form.get('edad')?.invalid)
                {
                <p>La edad es requerida.</p>
                }
            </div>

            <!-- dni -->
            <div>
                <input class="input text-gl" name="dni" placeholder="DNI" type="number" formControlName="dni">
                @if(form.get('dni')?.touched && form.get('dni')?.invalid)
                {
                <p>El DNI es requerido.</p>
                }
            </div>

            <!-- obra social -->
            <div>
                <input class="input text-gl" name="obraSocial" placeholder="Obra social" type="text"
                    formControlName="obraSocial">
                @if(form.get('obraSocial')?.touched && form.get('obraSocial')?.invalid)
                {
                <p>La obra social es requerida.</p>
                }
            </div>

            <!-- contraseña -->
            <div>
                <input class="input text-gl" name="password" placeholder="Contraseña" type="password"
                    formControlName="password">
                @if(form.get('password')?.touched && form.get('password')?.invalid)
                {
                <p>La contraseña es requerida.</p>
                }
            </div>

            <!-- correo -->
            <div>
                <input class="input text-gl" name="email" placeholder="Correo" type="email" formControlName="correo">
                @if(form.get('correo')?.touched && form.get('correo')?.invalid)
                {
                <div>
                    @if(form.get('correo')?.errors?.['required'])
                    {
                    <p>El correo electrónico es requerido.</p>
                    }
                    @if(form.get('correo')?.errors?.email)
                    {
                    <p>El correo electrónico es invalido.</p>
                    }
                </div>
                }
            </div>

            <!-- foto -->
            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfilUno" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilUno($event)">
            </div>

            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfilDos" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilDos($event)">
            </div>
        </div>
        <!-- <div class="text-center mb-4" [ngClass]="{'captcha-completed': captchaResuelto}">
            <re-captcha (resolved)="resolved($event)" siteKey="6Le3tBgqAAAAAE6jlIg_dwNICPVBituyl0sSnzwW"></re-captcha>
        </div> -->
        <div>
            <app-captcha-propio #captcha></app-captcha-propio>
        </div>

        <button class="button-confirm" (click)="register()">Registrarse →</button>
    </form>
    }

    @if(registrarEspecialista)
    {
    <form class="form mt-3 mb-5 flex-row" [formGroup]="formEspecialista">
        <div class="img-logo"></div>

        <div class="title text-center uppercase">¡Bienvenido!<br><span class="lowercase">Registre a continuación</span>
        </div>

        <h4 class="text-center text-2xl font-bold">Especialista</h4>
        <div class="contenedor-inputs">
            <!-- Nombre -->
            <div>
                <input class="input text-gl" name="nombre" placeholder="Nombre" type="text" formControlName="nombre">
                @if(formEspecialista.get('nombre')?.touched && formEspecialista.get('nombre')?.invalid)
                {
                <p>El nombre es requerido.</p>
                }
            </div>

            <!-- apellido -->
            <div>
                <input class="input text-gl" name="apellido" placeholder="Apellido" type="text"
                    formControlName="apellido">
                @if(formEspecialista.get('apellido')?.touched && formEspecialista.get('apellido')?.invalid)
                {
                <p>El apellido es requerido.</p>
                }
            </div>

            <!-- edad -->
            <div>
                <input class="input text-gl" name="edad" placeholder="Edad" type="number" formControlName="edad">
                @if(formEspecialista.get('edad')?.touched && formEspecialista.get('edad')?.invalid)
                {
                <p>La edad es requerida.</p>
                }
            </div>

            <!-- dni -->
            <div>
                <input class="input text-gl" name="dni" placeholder="DNI" type="number" formControlName="dni">
                @if(formEspecialista.get('dni')?.touched && formEspecialista.get('dni')?.invalid)
                {
                <div>
                    @if(formEspecialista.get('dni')?.errors?.['required'])
                    {
                    <p>El DNI es requerido.</p>
                    }
                    <div>
                        @if(formEspecialista.get('dni').errors?.['dniValidar'])
                        {
                        <p>El DNI tiene que tener 8 carácteres.</p>
                        }
                    </div>
                </div>
                }
            </div>

            <!-- correo -->
            <div>
                <input class="input text-gl" name="email" placeholder="Correo" type="email" formControlName="correo">
                @if(formEspecialista.get('correo')?.touched && formEspecialista.get('correo')?.invalid)
                {
                <div>
                    @if(formEspecialista.get('correo')?.errors?.['required'])
                    {
                    <p>El correo electrónico es requerido.</p>
                    }
                    @if(formEspecialista.get('correo')?.errors?.email)
                    {

                    <p>El correo electrónico es invalido.</p>
                    }
                </div>
                }
            </div>

            <!-- contraseña -->
            <div>
                <input class="input text-gl" name="password" placeholder="Contraseña" type="password"
                    formControlName="password">
                @if(formEspecialista.get('password')?.touched && formEspecialista.get('password')?.invalid)
                {
                <div>
                    <p>La contraseña es requerida.</p>
                </div>
                }
            </div>
            <div>
                <input class="input text-gl" type="file" formControlName="imagenPerfil" name="imagenPerfil"
                    accept="image/png, image/jpeg" (change)="seleccionarFotoPerfilUno($event)">
            </div>

            <mat-chip-grid #chipGrid aria-label="Enter fruits">
                @for (especialidad of especialidadesMostrar | ordenarEspecialidades; track especialidad ) {
                <mat-chip-row (removed)="remove(especialidad)" [editable]="true"
                    [aria-description]="'press enter to edit ' + especialidad.nombre">
                    {{especialidad.nombre}}
                    <button matChipRemove [attr.aria-label]="'remove ' + especialidad.nombre">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
                <input placeholder="Nueva Especialidad..." [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
        </div>
        <!-- <div class="text-center mb-4" [ngClass]="{'captcha-completed': captchaResuelto}">
            <re-captcha (resolved)="resolved($event)" siteKey="6Le3tBgqAAAAAE6jlIg_dwNICPVBituyl0sSnzwW"></re-captcha>
        </div> -->

        <div>
            <app-captcha-propio #captcha></app-captcha-propio>
        </div>

        <button class="button-confirm" (click)="register()">Registrarse →</button>
    </form>
    }
</div>
<app-footer></app-footer>