<div class="container mx-auto">
    <div [@slideInRight] class="flex justify-center">
        <div class="mb-8 w-full max-w-4xl">
            <div class="bg-white shadow rounded-lg">
                <div class="p-8 lg:p-12">
                    <div class="flex flex-col lg:flex-row items-center">
                        <div class="lg:w-1/3 text-center mb-6 lg:mb-0">
                            <img [src]="imagenes[0]['foto1']" class="w-40 h-40 rounded-full mx-auto" alt="Imagen de Perfil">
                        </div>
                        <div class="lg:w-2/3 lg:px-12">
                            <div class="rounded-lg py-4 px-6 mb-6">
                                <h3 class="text-2xl">{{ user?.nombre }} {{ user?.apellido }}</h3>
                                <span class="text-primary">{{ user?.tipo }}</span>
                            </div>
                            <ul class="list-none mb-6">
                                <li class="mb-4">
                                    <span class="font-semibold">Edad:</span> {{ user?.edad }}
                                </li>
                                <li class="mb-4">
                                    <span class="font-semibold">DNI:</span> {{ user?.dni }}
                                </li>
                                <li class="mb-4">
                                    <span class="font-semibold">Email:</span> {{ user?.correo }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="my-6">
                    <div *ngIf="user?.tipo === 'Especialista'">
                        <h4 class="text-lg font-semibold mb-4">Disponibilidad:</h4>
                        <div>
                            <div *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']">
                                <button
                                    class="bg-teal-500 text-white mt-2 py-2 px-4 rounded hover:bg-teal-700 transition duration-300 w-full"
                                    (click)="agregarHorario(dia)">
                                    {{ dia }}
                                </button>
                                <div *ngIf="horarios[dia]" class="mt-2 space-y-2">
                                    <div *ngFor="let horario of horarios[dia]; let i = index"
                                        class="flex items-center justify-between space-x-2">
                                        <label class="flex-1">
                                            <span class="text-sm text-gray-600">Desde:</span>
                                            <select [(ngModel)]="horario.desde" class="w-30 mt-1 p-2 border rounded">
                                                <option *ngFor="let hora of getHorasInicioDisponibles(dia, i)"
                                                    [value]="hora">{{ hora }}</option>
                                            </select>
                                        </label>
                                        <label class="flex-1">
                                            <span class="text-sm text-gray-600">Hasta:</span>
                                            <select [(ngModel)]="horario.hasta" class="w-30 mt-1 p-2 border rounded">
                                                <option *ngFor="let hora of getHorasFinDisponibles(dia, i)"
                                                    [value]="hora">{{ hora }}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="guardarDisponibilidad()"
                            class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 transition duration-300 mt-6">
                            Guardar Disponibilidad
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="user?.tipo == 'Paciente'" class="mt-8">
                <div class="text-center">
                    <button class="btn btn-primary" (click)="descargarPDF()">Descargar PDF</button>
                </div>
                <hr class="my-6">
                <div class="flex justify-center items-center">
                    <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6">
                        <div class="overflow-x-auto">
                            <table class="table-auto w-full text-center">
                                <thead class="bg-blue-500 text-white">
                                    <tr>
                                        <th>Especialidad</th>
                                        <th>Especialista</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Altura (cm)</th>
                                        <th>Peso (kg)</th>
                                        <th>Temperatura (°C)</th>
                                        <th>Presión</th>
                                        <th>Comentario</th>
                                        <th>Datos adicionales</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let turno of turnosHistorial">
                                        <td>{{ turno.especialidad }}</td>
                                        <td>{{ turno.especialista.nombre }}</td>
                                        <td>{{ turno.fechaTurno | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ turno.fechaTurno | date:'HH:mm' }}</td>
                                        <td>{{ turno.historial?.altura }}</td>
                                        <td>{{ turno.historial?.peso }}</td>
                                        <td>{{ turno.historial?.temperatura }}</td>
                                        <td>{{ turno.historial?.presion }}</td>
                                        <td>{{ turno.historial?.comentario }}</td>
                                        <td>
                                            <ul class="list-none">
                                                <li *ngFor="let dato of turno.historial?.datosDinamicos">
                                                    {{ dato.clave }}: {{ dato.valor }}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
