/* CONTENEDOR */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../assets/resources/img/fondo-tp.jpg);
    background-position: center center;
    background-size: contain;
    opacity: 0.4;
    z-index: -1; 

}

/* FORMULARIO */

.form {
    --input-focus: rgb(8 145 178);
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

/* TITULO FORMULARIO */
.title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 25px;
}

.input {
    width: 370px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.login-with {
    display: flex;
    gap: 20px;
}

.button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 27px;
    height: 27px;
    fill: var(--main-color);
}

.button-log:active,
.button-confirm:active,
.button-confirm-users:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    margin: 50px 0 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.button-confirm-users
{
    margin: 5px 0 0 auto;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.contenedor-botones
{
    display: flex;
    flex-direction: column;
}

/* CAMBIAR REGISTER */
.wrapper {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

.card-side::before {
    position: absolute;
    content: 'Ingresar';
    left: -120px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 700;
    font-size: 23px;
}

.card-side::after {
    position: absolute;
    content: 'Registrar';
    left: 95px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 23px;
}


/* IMAGEN LOGO */
.img-logo
{
    background-image: url(../../../assets/resources/img/logo-clinica.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
