.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.container::before {
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../assets/resources/img/fondo-tp.jpg);
    background-position: center center;
    background-size: contain;
    opacity: 0.4;
    z-index: -1; 
}

/* BOTONES */
.button-confirm {
    margin: 50px 0 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: beige;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* FORMULARIO */
.form {
    --input-focus: rgb(8 145 178);
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    max-width: 500px;
    max-height: 100%;
}

.contenedor-inputs
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.input {
    width: 230px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 25px;
}


